.card_class{
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
  }

  .circle_headshot {
	object-fit: cover !important;
	width: 250px;
	height: 250px ;
	border-radius: 50% !important;
	margin: 25px !important;
	margin-bottom: 0px !important;
	display: block !important;
}